@media screen and (max-width : 922px)
{
    .img-hero
    {
        transition: all ease-in-out 0.3s;
    }
}

@media screen and (max-width : 576px)
{
    .hero-tagline h1
    {
        line-height: 52px;
    }

    .img-hero
    {
        width: 75%;
        height: auto;
        opacity: 55%;
        transition: all ease-in-out 0.3s;
    }

    .h2
    {
        font-size: 16px;
    }

    .card-produk
    {
        margin : 15px 0;
    }

    #layanan
    {
        height: 150vh;
    }

    .navbar
    {
        background-color: #445EBA;
    }

    .hero-tagline h1
    {
        color: #fff;
        font-size: 62px;
        font-weight: 700;
        line-height: 62px;
        width: 80%;
    }

    .hero-tagline p
    {
        color: #fff;
        font-size: 18px;
        margin-bottom: 40px;
        margin-top: 20px;
        line-height: 30px;
        width: 90%;
    }

}

@media screen and (max-width : 350px)
{
    
}